body {
  margin:0;
  padding:0;
  background:#000;
  color:#fff;
  font-family: sans-serif;
  user-select:none;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}

button {
  background:#222;
  border:1px solid #555;
  padding:12px 18px;
  margin:10px;
  color:#fff;
  cursor:pointer;
  font-size:18px;
}

button:hover {
  background:#444;
}
