* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* قاب بازی (ابعاد مناسب سایت) */
#game-container {
  width: 1200px;
  height: 675px;   /* 16:9 */
  border: 2px solid #0f0;
}

/* کانواس فیت */
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
